.container {
  width: 400px;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th {
  background-color: rgba(0, 0, 0, 0.906);
  color: white;
}

th,
td {
  border: 2px solid black;
  text-align: center;
}

tbody tr:nth-child(2n + 2) {
  background-color: lightgray;
}
